.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#main-header {
    background-color: #333;
    color: #fff;
}

#navbar {
    background-color: white;
    color: #333;
    font-size: 10%;
    padding-top: 15px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 25px;
}

#navbar ul {
    padding: 0;
    list-style: none;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    padding-right: 25px;
}

#introduction {
    background-repeat: no repeat;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

img {
    border-radius: 100%;
    padding: 10px;
}

h4 {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    background-size: cover;
}

#h3 {
    color: #333;
    line-height: 1.6em;
    font-size: 150%;
    padding: 50px;
    text-align: center;
}

.block {
    float: left;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.block p {
    text-align: center;
}

.who {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    float: left;
    width: 50%;
}

.who ul {
    list-style: none;
}

#main-footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding-top: 200px;
    margin-top: 200px;
}

@media (max-width: 600px) {

    .block {
        width: 100%;
        float: none;
    }
}

.logo {
    float: left;
    font-size: larger;
}

h4 {
    padding-bottom: 35px;
}
